form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 32px auto;
}

.error-text {
  color: brown;
}

button {
  font-weight: 700;
  text-transform: uppercase;
  background-color: darkorange;
  color: white;
}

button,
select,
input {
  padding: 1rem;
  margin-top: 1rem;
}
