/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.details {
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input {
  display: flex;
  gap: 14px;
}

.edit {
  display: flex;
  gap: 14px;
}

.detail-image {
  width: 100px;
  aspect-ratio: 1;
}

li {
  list-style: none;
  border: 1px solid blueviolet;
  margin-top: 16px;
  padding: 16px;
}

b {
  color: blueviolet;
}

button {
  margin: 8px;
}
